@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*
    Headings  
  */
  h2 {
    @apply mt-4 mb-4 text-xl font-semibold leading-none text-blue-500 md:text-2xl dark:text-white;
  }

  /* 
    Buttons
  */
  .btn-primary {
    @apply inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white bg-slate-700 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800;
  }

  .btn-action-outline {
    @apply py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-slate-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
  }

  .btn-prim {
    @apply inline-flex items-center text-sm px-5 py-2.5 text-center  text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
  }

  .btn-danger {
    @apply inline-flex items-center text-sm px-5 py-2.5 text-center text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900;
  }

  .btn-ai {
    @apply inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white bg-slate-700 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800;
  }

  /*
    Breadcrumb
  */

  .breadcrumb-active {
    @apply ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white;
  }

  /*
    Description List
  */

  dt {
    @apply mb-4 py-2 border-b font-semibold leading-none text-gray-900 dark:text-white border-slate-200 dark:border-slate-700;
  }

  dd {
    @apply mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400;
  }

  /* 
    Forms 
  */
  .public-form {
    @apply space-y-4 md:space-y-6;
  }
  .form-heading {
    @apply text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white;
  }
  .form-info {
    @apply leading-tight tracking-tight text-gray-900  dark:text-white;
  }
  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }
  .form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-slate-600 focus:border-slate-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .form-input-textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-slate-500 focus:border-slate-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500;
  }
  .form-checkbox {
    @apply w-4 h-4 border border-gray-300 rounded bg-gray-50  focus:ring-slate-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-slate-600 dark:ring-offset-gray-800;
  }
  .form-checkbox-label {
    @apply text-gray-500 dark:text-gray-300;
  }
  .form-link {
    @apply text-sm font-medium text-slate-600 hover:underline dark:text-slate-500;
  }
  .form-button {
    @apply text-white inline-flex items-center bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800;
  }

  /*
    Images
  */

  .img-preview {
    @apply aspect-video rounded-md border-2 dark:border-slate-700;
  }

  /*
    List Item
  */

  .list-item {
    @apply rounded-md border border-slate-300 dark:border-slate-700 bg-slate-200 dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-900;
  }

  .list-item {
    @apply rounded-md border border-slate-300 dark:border-slate-700 bg-slate-200 dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-900;
  }

  /* 
    Tables 
  */
  .table-row {
    @apply bg-white dark:border-gray-700 dark:bg-gray-800;
  }
  .table-cell-title {
    @apply whitespace-nowrap font-medium text-gray-900 dark:text-white;
  }
  .table-cell {
    @apply;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
